<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="test_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="world"/>
    <joint name="fixed_b ase_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    </joint>  


  <link
    name="base">
    <inertial>
      <origin
        xyz="0.0059247 0.00038939 0.081233"
        rpy="0 0 0" />
      <mass
        value="0.64986" />
      <inertia
        ixx="0.0016013"
        ixy="-8.3465E-06"
        ixz="-6.8717E-05"
        iyy="0.0015167"
        iyz="5.7288E-07"
        izz="0.00094318" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="2.4493E-06 -0.031713 0.033046"
        rpy="0 0 0" />
      <mass
        value="0.23299" />
      <inertia
        ixx="0.00035206"
        ixy="2.8167E-08"
        ixz="-6.371E-09"
        iyy="0.00022967"
        iyz="5.3618E-05"
        izz="0.00033368" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0010791 0 0.1691"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="6.28"
      effort="1000"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="1.6533223458829E-06 -0.0377616290355559 0.125416438182743"
        rpy="0 0 0" />
      <mass
        value="0.46702438959036" />
      <inertia
        ixx="0.00331762125145106"
        ixy="-1.59317816274483E-08"
        ixz="-6.28906986662299E-08"
        iyy="0.00339461312876504"
        iyz="1.29421863702007E-07"
        izz="0.00029498048933846" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.0893 0.0402"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="6.28"
      effort="1000"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.00019825 0.06618 0.12811"
        rpy="0 0 0" />
      <mass
        value="0.61092" />
      <inertia
        ixx="0.0039774"
        ixy="-3.3766E-07"
        ixz="-1.3377E-05"
        iyy="0.0040447"
        iyz="-0.00016327"
        izz="0.00034377" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0.0077997 0.25"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="6.28"
      effort="1000"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.00045113 -0.042013 0.019705"
        rpy="0 0 0" />
      <mass
        value="0.14393" />
      <inertia
        ixx="7.662E-05"
        ixy="-1.0863E-07"
        ixz="6.1731E-07"
        iyy="6.5183E-05"
        iyz="5.4312E-06"
        izz="9.6955E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0.0175 0.25"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="6.28"
      effort="1000"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00016308 -0.0036813 0.043119"
        rpy="0 0 0" />
      <mass
        value="0.15541" />
      <inertia
        ixx="0.00010054"
        ixy="3.7552E-07"
        ixz="-1.353E-07"
        iyy="0.0001099"
        iyz="1.6835E-05"
        izz="9.3028E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 -0.0455 0.0615"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="6.28"
      effort="1000"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-2.7125E-05 -0.0037192 -8.0334E-05"
        rpy="0 0 0" />
      <mass
        value="0.060165" />
      <inertia
        ixx="1.8241E-05"
        ixy="-1.3435E-08"
        ixz="-1.3075E-09"
        iyy="3.2258E-05"
        iyz="-3.7151E-08"
        izz="1.8333E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_robot/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 -0.061297 0.0455"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="6.28"
      effort="1000"
      velocity="0" />
  </joint>

 <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

   <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

   <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

   <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

   <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

   <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

    <gazebo>
 
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
 
        <robotNamespace>/test_robot</robotNamespace>
 
        <legacyModeNS>true</legacyModeNS>
 
    </plugin>
 
  </gazebo>

</robot>